body {
    background-color: whitesmoke;
    margin: 0;
    padding: 10px;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: left;
    gap: 15px;
    border: none;
    background: none;
    margin-bottom: 20px;
    padding: 0;
}

.first-offer,
.second-offer {
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(70, 116, 217);
    border-radius: 20px;
    width: 250px;
}

.card {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(70, 116, 217);
    border-radius: 20px;
    width: 300px;
    margin-top: 15px;
    display: flex;
    grid-template-columns: auto;
    hover{transition: transform 0.3s ease; }

}

.card:hover {
    transform: scale(1.05);
}

.image-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.text-overlay h2,
.text-overlay h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 5px 0;
}

h3 { 
    color: white;
    margin: 10px;
}

h2 {
    color: white;
    margin: 10px;
}

p {
    color: white;
    margin: 10px;
    font-style: oblique;
}